/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/GE_image_stitching.iml
/log_dir/main.log
/log_dir/ya.log
/log_dir/main_2022_08_24.log
/log_dir/ya_2022_08_24.log
/ssh_git_comands.txt
